<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf-_R3D33WE451IuYPkhDtLm9WKjkiVjw&callback=initMap"></script>
    <title>GeoTracker</title>
</head>
<body>
    <div class=container style="padding:0px">
        <div id="map"></div>
    </div>

    <div class="info-container" id="info">
        {% for key, value in data.items() %}
            <h4>{{key}} : {{value}}</h4>
        {% endfor %}
    </div>
</body>
</html>

